<form [formGroup]="fieldForm" (ngSubmit)="onSubmitFieldForm()">
    <div class="nfContainer">
        <h2> Add New Field: </h2>
        <section>
            <mat-form-field appearance="fill">
                <mat-label>Title</mat-label>
                <input matInput formControlName="title">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Demo title</mat-label>
                <input matInput formControlName="demoTitle">
            </mat-form-field>
        </section>

        <mat-form-field appearance="fill">
            <mat-label>Type</mat-label>
            <mat-select name="type" formControlName="type">
            <mat-option *ngFor="let type of types" [value]="type.id">
                {{type.value}}
            </mat-option>
            </mat-select>
        </mat-form-field>

        <section>
            <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
        </section>

        <section class="example-section">
            <mat-checkbox class="example-margin" formControlName="required">Required</mat-checkbox>
        </section>

        <section>
            <mat-form-field appearance="fill">
                <mat-label>Validation</mat-label>
                <input matInput formControlName="validation">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Data display format</mat-label>
                <input matInput formControlName="displayFormat">
            </mat-form-field>
        </section>

        <app-field-auth></app-field-auth>

        <div class="nfButton">
            <button mat-stroked-button color="primary" type="submit">Add</button>
            <button mat-stroked-button color="warn">Cancel</button>
        </div>
    </div>
</form>