<div class="nfContainer">
    <h2> Creat New Form </h2>
    <mat-form-field appearance="fill">
        <mat-label>Form Title</mat-label>
        <input matInput [(ngModel)]="formTitle" required >
    </mat-form-field>

    <app-build-form [fieldsArr] = "feildsArr"></app-build-form>

    <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Create a new field
            </mat-panel-title>
            <mat-panel-description>
              Type specification of a new field
            </mat-panel-description>
          </mat-expansion-panel-header>

          <app-new-field (newFieldEvent)="addField($event)"></app-new-field>
        </mat-expansion-panel>
    </mat-accordion>

    <app-form-auth></app-form-auth>
    
    <div class="nfButton">
        <button mat-raised-button color="primary" (click)="addForm()">Save Form</button>
        <button mat-raised-button color="warn">Discard</button>
    </div>
</div>
  
